@charset "utf-8";

a:hover{
	text-decoration: none;
}

.left-daohang{
	width: 96px;
	float: left;
	background: #FFFFFF;
}

.right-content{
	width: 1030px;
	float: right;
}

.left-daohang{
	padding: 10px 0;
}

.left-daohang li{
	height: 34px;
	margin: 1px 0;
}

.left-daohang li a{
	display: block;
	font-weight: 500;
	color: #6F6F6F;
	width: 100%;
	height: 100%;
	line-height: 34px;
	text-align: center;
}

.left-daohang li a:hover{
	background: #F34444;
}

.container{
	margin-top: 80px;
	padding-top: 30px;
}

.main-body{
	width: 750px;
	background: #FFFFFF;
	float: left;
}

.main-body a{
	color: #000000;
}

.aside{
	width: 270px;
	background: #FFFFFF;
	margin-left: 10px;
	float: right;
}

.article-body{
	width: 100%;
}

.article-box{
	width: 100%;
	height: 120px;
	position: relative;
	padding: 30px 50px;
	border-bottom: 1px #F4F5F6 solid;
}

.article-box .title{
	height: 20px;
}

.article-box .title a{
	color: #000000;
	font-size: 20px;
	font-weight: bold;
}

.article-box .title a:hover{
	color: #6F6F6F;
}

.article-box .user-list{
	height: 20px;
}

.user-list{
	margin-top: 20px;
}

.user-list a{
	color: #00A0E9;
}

.user-list a:hover{
	color: #00B7EE;
}

.user-list dd,.user-list dt{
	display: inline;
	font-size: 15px;
	color: #C0C0C0;
}

.user-list dd{
	margin-right: 10px;
}

.article-readers{
	width: 60px;
	height: 70px;
	position: absolute;
	right: 24px;
	top: 36px;
}

.visit-num{
	height: 35px;
	text-align: center;
	color: #00A0E9;
	font-size: 20px;
}

.visit-title{
	height: 35px;
	text-align: center;
	font-size: 13px;
	color: #6F6F6F;
}

#articleType a:hover{
	cursor: pointer;
}

.login{
	width: 1000px;
	margin: 0 auto;
}

.login-left{
	width: 60%;
	height: 300px;
//	background: red;
}

.login-right{
	width: 40%;
	border: 1px #C5C3C6 solid;
	border-radius: 10px;
	padding: 30px 40px;
}

.login-right input{
	margin: 20px 0;
	height: 50px;
	line-height: 50px;
}

.login-right h3{
	margin-top: 10px;
}

.login-right a{
	float: right;
	margin: 10px 0 0 15px;
}

.login-right span{
	width: 100%;
	height: 50px;
	display: block;
}

.login-right button{
	width: 100%;
	margin: 10px 0;
	font-size: 20px;
}

.login-info{
	width: 100%;
	display: block;
	border-bottom: 1px #8D8D8F solid;
}

.login-info h4{
	margin-top: 10px;
}

.login-left a{
	display: block;
	width: 100%;
}

.login-left img{
	max-width: 570px;
}

.login-result{
	float: left;
	color: red;
}
